$prefix : 'cui' !default;
@use 'static'as *;



@use "../node_modules/cui-styles/styles/variables"as variables with($prefix : $prefix);
@use "../node_modules/cui-styles/styles/mixins"as mixins;
@use "../node_modules/cui-styles/styles/build"as build;

@use "perform_button_bar"as perform;
@use "./countdown_timers.scss"as timers;
@use "./stopwatch_icon.scss"as stopwatch-icon;

$usage-list:("navbar",
    "accordion",
    "dialog",
    "tooltip",
    "button",
    "banner",
    "link",
    "text",
    "icon",
    "card",
    "input",
    "drop",
    "switch",
    "switcher",
    "list",
    "progress",
    "background",
    "badge",
    "toast",
    "offcanvas",
    "shadow",
    "scrollbar",
    "selection",
    "corner",
    "sequence",
    "hover",
    "border",
    "flex",
    "heading",
    "container",
    "section",
    "grid",
    "position",
    "transition",
    "sticky",
    "visibility",
    "spaces",
    "widths",
    "height",
    "animations");

@include build.wrapper($usage-list) {

    #root {
        height: 100vh;
    }

    .stopwatch-layout-navigation {
        height: $navbar-height;

    }

    .stopwatch-layout-main {
        height: 100vh;
    }

    .stopwatch-layout-content {
        height : calc(100vh - #{$navbar-height} - #{$footer-height});
        z-index: 10;
    }

    .stopwatch-footer {
        height: $footer-height;
    }

    .stopwatch-page-layout {
        height        : 100%;
        overflow      : hidden;
        display       : flex;
        flex-direction: column;

        .stopwatch-page-top {
            //  height  : 50%;
            overflow: hidden;
        }

        .stopwatch-page-bottom {
            // height    : 50%;
            flex      : 1 1 auto;
            transition: transform 300ms ease-in;
        }
    }

    .drop-max-width {
        max-width: 260px;
    }

    .drop-trigger-width {
        min-width: 100px;
    }

    .drop-height {
        max-height: 250px;
        overflow-y: auto;
    }

    .stopwatch-home-list {
        height: 100%;
    }

    .stopwatch-page-header {
        min-height: 30vh;
    }

    .training-list-item-icon {
        width   : 40px;
        height  : 40px;
        position: relative;

        &:before {
            content         : "";
            position        : absolute;
            top             : 50%;
            left            : 50%;
            transform       : translate(-50%, -50%);
            width           : 40px;
            height          : 40px;
            background-color: variables.$component-background-accent-shade;
            border-radius   : 50%
        }

        span,
        a {
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%, -50%);
        }
    }

    .stopwatch-content-width {
        width : 100%;
        margin: 0 auto;
    }

    .actions-add-new-button {
        height: 110px;
    }


    .stopwatch-title {
        background             : linear-gradient(180deg, variables.$component-background-accent 0%, variables.$component-background-secondary 100%);
        -webkit-background-clip: text;
        background-clip        : text;
        -webkit-text-fill-color: transparent;
    }


    .stopwatch-warmup {
        background-color: variables.$component-background-success;
    }

    .stopwatch-break {
        background-color: variables.$component-background-secondary;
    }

    .stopwatch-cooldown {
        background-color: variables.$component-background-shade;
    }

    .stopwatch-exercise {
        background-color: variables.$component-background-accent;
    }


    .action-background-warmup {
        background-color: variables.$component-background-success-shade !important;
    }

    .action-background-break {
        background-color: variables.$component-background-secondary-shade !important;
    }

    .action-background-cooldown {
        background-color: variables.$component-background-shade !important;
    }

    .action-background-exercise {
        background-color: variables.$component-background-accent-shade !important;
    }

    .transition-toggle {
        opacity: 0;
    }

    .timer-blink-animation {
        animation: timerPulse 1s linear infinite;
    }

    .stopwatch-input-width {
        width: 100%;
    }

    .stopwatch-text-area {
        resize: none;
    }

    .perform-layout {
        display: block;

        .perform-buttons {
            margin-top: variables.$margin-global-large;
        }
    }

    .z-index-100 {
        z-index: 100;
    }

    .action-card-height {
        height: 60px;
    }

    .fade-enter {
        opacity: 0;
        z-index: 1;
    }

    .fade-enter.fade-enter-active {
        opacity   : 1;
        transition: opacity 250ms ease-in;
    }

    .coneee {
        position: absolute;
    }



    .loop-screen {
        display : inline;
        position: absolute;
        top     : 0px;
        left    : 0px;
        width   : 1px;
        height  : 1px;
    }

    .app-float-bottom {
        margin-bottom: calc(#{$footer-height} + #{variables.$margin-global});
    }

    .edit-container {
        display       : flex;
        flex-direction: column;
        height        : 100%;

        .edit-container-bottom {
            flex : 0 0 auto;
            order: 2;
        }

        .edit-container-content {
            flex : 1 1 auto;
            order: 1;
        }
    }



    .width-100 {
        width: 100px !important;
    }

    .width-200 {
        width: 200px !important;
    }

    .triangle {
        height: 30px;

        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 10%); //polygon(100% 0, 0 0, 100% 60%);
    }

    .triangle-wrap {
        filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.05));
    }

    @keyframes timerPulse {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @include mixins.media-screen-min-small-landscape {
        .stopwatch-page-layout {
            display       : flex;
            flex-direction: row;

            .stopwatch-page-top {
                height     : 100%;
            }

            .stopwatch-page-bottom {
                height   : 100%;
            }
        }

        .perform-layout {
            display: flex;

            .perform-main-controls {
                height: 100%;
                width : 50%;
            }

            .perform-buttons {
                margin-top     : 0px;
                width          : 50%;
                display        : flex;
                align-items    : center;
                justify-content: center;
            }
        }
    }

    @include mixins.media-screen-min-large {
        .drop-max-width {
            max-width: 300px;
        }
    }

    @include mixins.media-screen-min-large-landscape {
        .stopwatch-content-width {
            width: 1000px !important;
        }

        .stopwatch-page-header {
            min-height: 20vh;

        }

        .stopwatch-page-content {
            height: calc(100vh - #{$navbar-height} - #{$footer-height} - 20vh);
        }

        .stopwatch-input-width {
            width: 300px !important;
        }

        .stopwatch-page-layout {
            flex-direction: column;

            .stopwatch-page-top {
                height     : auto;
                // overflow: hidden;
                // width   : 100%;
            }

            .stopwatch-page-bottom {
                height: auto;
                flex  : 1 1 auto;
                width : 100%;
            }
        }

        .perform-layout {
            display: block;

            .perform-main-controls {

                width: 100%;
            }

            .perform-buttons {

                // height: 100%;
                width: 100%;
            }
        }
    }

    @include mixins.media-screen-min-xlarge-landscape {
        .stopwatch-content-width {
            width: 1200px !important;
        }

        .stopwatch-page-header {
            min-height: 20vh;
        }

        .stopwatch-page-content {
            height: calc(100vh - #{$navbar-height} - #{$footer-height} - 20vh);
        }
    }

    @include mixins.mode-dark {
        .training-list-item-icon {
            &:before {
                background-color: variables.$component-background-shade-dark;
            }
        }

        .action-background-warmup {
            background-color: variables.$component-background-success-dark-shade !important;
        }

        .action-background-break {
            background-color: variables.$component-background-secondary-dark-shade !important;
        }

        .action-background-cooldown {
            background-color: variables.$component-background-shade-dark !important;
        }

        .action-background-exercise {
            background-color: variables.$component-background-accent-dark-shade !important;
        }

        .total-circle-progress {
            svg {
                path {
                    stroke: variables.$component-background-success !important;
                }

            }
        }

        .current-circle-progress {
            svg {
                path {
                    stroke: variables.$component-background-secondary !important;
                }
            }
        }

        .countdown-circle-progress {
            svg {
                path {
                    stroke: variables.$component-background-accent !important;
                }
            }
        }

        .stopwatch-title {
            background             : linear-gradient(180deg, variables.$component-background-accent-dark 0%, variables.$component-background-secondary-dark 100%);
            -webkit-background-clip: text;
            background-clip        : text;
            -webkit-text-fill-color: transparent;
        }
    }

    @include perform.definition();
    @include timers.definitions();
    @include stopwatch-icon.definitions();


}